body{
    font-size: 1.2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    display: flex;
    max-height: 20px;
    padding: 30px;
    margin: 10px;
}

.logo{
    padding-left: 20px;
    width: 15%;
    margin-right: 20%;
    height: 70px;
}

.logo img{
    width: 100%;
    height: 100%;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    font-weight: 600;
    margin-right: 20%;
}

.nav-item{
    padding: 20px;
    margin-top: 50px;
    width: 40px;
    cursor: pointer;
}

.nav-item:hover{
    text-decoration: underline;
    text-decoration-color:  #8071D0;
    text-underline-position: under;
    text-underline-offset: 3px;
}

.your-account{
    width: 10%;
}
.btn{
    border-radius: 25px;
    padding: 20px;
    width: 100%;
    font-weight: 500;
    text-align: center;
    font-size: 1.2rem;
    color: #A389CC;
    background-color: #FFD8DB;
    cursor: pointer;
}
.landing-page{
    margin-top: 8%;
    margin-left: 10%;
    display: flex;
    margin-bottom: 15%;
}

.landing-page-content h1{
    font-size: 4.2rem;
}

.dot{
    width: 10px;
    height: 10px;
    color:slateblue;
}

.landing-page-content p{
    font-size: 1.1rem;
}

.btns{
    display: flex;
    margin-top: 8%;
    align-content: center;
    margin-bottom: 7%;
    
}

.new-acc{
    background-color: #5243C0;
    color: #ffffff;
    width: 140px;
    /* margin: 10px; */
    margin-left: -10px;
}

.arrows{
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrows img{
    margin-left: 20px;
    cursor: pointer;
}

.landing-page-container{
    list-style: none;
    width: 100%;
    margin-left: -40px;
    display: flex;
    flex-direction: column;
}

.landing-page-card{
    padding: 5px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    width: 95%;
    background-color: rgba(247, 247, 247, 0.959);
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 4px;
}

.radio{
    width: 10%;
    height: 100%;
    margin-right: 15px;
    background-image: url(../images/tick-gray.png);
    background-repeat: no-repeat;
    background-position: center;
}

.radio-selected{
    background-image: url(../images/tick-blue.png);
    margin: 5px 15px -5px 2px;
}

.radio:hover{
    background-image: url(../images/tick-blue.png);
    margin: 5px 15px -5px 2px;
}
.landing-page-card:hover{
    background-color: white;
    box-shadow: 0 0 10px grey;
}

.profile, .date{
    margin-right: 30px;
}

.landing-page-card h2{
    width: 35%;
    font-size: 1.1rem;
    font-weight: 500;
    
}

.selected{
    background-color: white;
    box-shadow: 0 0 10px grey;
}

.color{
    height: 10px;
    width: 20px;
    border-radius: 10px;
    background-color: green;
}

.pink{
    background-color: #FED7DA;
}

.green{
    background-color: #9ED095;
}

.yellow{
    background-color: #FFE4A0;
}

.red{
    background-color:#FD6534
}

.left-content{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.landing-page-photo{
    margin-left: 5%;
}


