@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

:root{
    --theme-color: #e47312;
    --font-color: #919198;
}

body{
    font-size: 12px;
    margin: 30px;
    font-family:'Dosis', sans-serif;
    letter-spacing: 1px;

}

section{

    background-color: rgba(245, 245, 245, 0.952);
}

header{ 
    background:linear-gradient(rgba(255,255,255,0.1), rgba(207, 204, 204, 0.877)),url(https://nuuk-e3eaa.firebaseapp.com/assets/img/slide-2.jpg);;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
    z-index: 0;
    position: relative; 
}

a{
    padding-top: 20px;
    color: white;  
    font-weight: 600;
    text-decoration: none;
}

.contact a:hover{
    padding-bottom: 5px;
    
    border-bottom: 2px solid white;
}

.logo{
    height: 140px;
    background-color: var(--theme-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    cursor: pointer;
}

.logo img{
    width: 55%;
    cursor: pointer;
    
}

.menu-bar{
    display: flex;
    background-color: white;
    height: 110px;
    width: 85%;
    justify-content: flex-end;
    align-items: center;
}

.menu{
    cursor: pointer;
    padding: 10px;   
    padding-right: 30px;
    color:  #414147;
    font-size: .9em;
    font-weight: 600;
    letter-spacing: 1px;
    
}

.menu:hover{
    color: var(--theme-color);
}

.menu-selected{
    color: var(--theme-color);
}

.pages{
    padding-right: 30px;
    display: flex;
    align-items: center;
}

.fa-caret-down{
    margin-left: -20px;

}

.pages:hover .page-dropdown{
    display: flex;
}
.page-dropdown{
    box-sizing: border-box;
    font-size: .56em;
    position: absolute;
    z-index: 1;
    display: none;
    flex-direction: column;
    height: 35%;
    background-color: white;
    width: 15%;
    top: 23%;
    right: 12%;
    justify-content: center;
}

.dropdown{
    width: 70%;
    height: 20%;
    display: flex;
    margin: 5%;
    /* margin-left: 10%; */
    padding-left: 15%;
    padding-top: 10px;
    cursor: pointer;
    color: #777780;
    
}

.dropdown:hover{
    box-shadow: 0 0 5px gray;
    background-color: rgba(245, 245, 245, 0.952);
    color: var(--theme-color);
}

.quote{
    text-align: center;
    display: flex;
    align-items: center;
    height: 75%;
    color: #fff;
    font-size: 10px;
    background-color: var(--theme-color);
    padding: 15px;
    width: 160px;
    justify-content: center;
    cursor: pointer;
}

.quote:hover{
    color: white;
    background-color: #e4812bce;;
}

.top-bar{
    margin: 30px 70px;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
}

.left-content{
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    margin-top: -100px;
    width: 45%;
    height: 100%;
    margin-right: 45%;
    
}

.left-content h1{
    font-size: 6.2em;
    font-weight: 600;
    color: white;
    
}

.left-content p{
    margin-top: -40px;
    font-size: 1.95em;
    color: white;
    margin-bottom: 30px;
    
}

.header-content{
    display: flex;
    position: relative;
    /* bottom: 40%; */
}

.btn{
    width: 24.4%;
    font-size: 1.5em;
    text-align: center;
    /* padding:20px; */
    padding-left: 30px;
    height: 130px;
}

.right-content{
    display: flex;
    flex-direction: column;
    height: 70%;
    background-color: #121213;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
    font-weight: lighter;
    width: 75px;
    margin-top: -20px;
    padding: 10px 0;
}

.social{
    padding:10px;
    margin: 10px;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.14);
    cursor: pointer;
}

.fa-instagram{
    border-bottom: none;
}


.header-contact{
    width: 74%;
    height: 230px;
    background-color: var(--theme-color);
    background-image:linear-gradient(158deg, #e47312, #ff6361);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    margin-left: 19.6%;
    font-size: 1em;
    color: white;
    z-index: 1;
    position: absolute;
    top: 67%;
    
    
}

.contact-card{ 
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    padding: 8px;
    line-height: normal;
}

.contact img{
    margin: 0 auto;
    width: 30px;
}

.contact h2{
    padding-bottom: 5px;
}

.contact p{
    font-weight: lighter;
    margin-bottom: 1px;
    font-size: 1.5em;
}

.mail h2{
    margin-bottom: -10px;
}

.time h2{
    margin-bottom: -10px;
}


.specialization{
    margin: 30px 70px;
    height: 150vh;
}

.background-text{
    margin: 0 -50px;
    font-size: 6em;
    opacity: 0.05;
    position: relative;
    
}

.background-text h1{
    letter-spacing: 20px;
    font-size: 2em;
}

.new-background-text{
    position: relative;
    margin-top: -70%;
}

.special-top{
    position: relative;
    top:-20%;
    display: flex;
    margin-bottom: 40px;
    align-items: center;
}
.front-text{
    font-size: 4.3em;
    width: 87%;
    font-weight: 600;
}

.top a{
    text-align: center;
    width: 13%;
    color: grey;
    font-size: 1.5em;
}

.top a:hover{
    padding-bottom: 5px;
    border-bottom: 2px solid var(--theme-color);
}

.special-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -15%;
}

.special-card{
    display: flex;
    flex-direction: column;
    width: 22%;
    line-height: 1.6;

}

.special-card img{
    width: 26%;
    margin-bottom: 20px;
}

.special-card h2{
    
    font-size: 2em;
    margin-bottom: -5px;
}


.special-card p{
    font-size: 1.8em;
    color: #919197;
}

.special-card a{
    color: #919198;
    font-size: 1.35em;
    width: 100px;
    padding-bottom: 5px;
}

.special-card a:hover{
    
    border-bottom: 2px solid var(--theme-color);
}


.about{
    display: flex;
    margin: 30px 70px;
    align-items: center;
    justify-content: space-between;
    margin-top: -15%;
    margin-bottom: 10%;
}

.about-image{
    width: 46%;
}

.about-image img{
    width: 100%;
}

.about-content{
    width: 40%;
    
}

.about-right-content{
    position: absolute;
    top: 25%;
}

.about-right-content h1{
    font-size: 4.3em;
    font-weight: 500;
}
.about-right-content p{
    text-align: left;
    font-size: 1.8em;
    color: var(--font-color);
}

.about-right-content a{
    font-size: 1.5em;
    color: var(--font-color);
}

.about-right-content a:hover{
    width: 200px;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--theme-color);
}

.numbers{
    margin: 30px 70px;
    display: flex;
    justify-content: space-between;
}

.number-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 19%;
}
.number-card h1{
    color: var(--theme-color);
    font-size: 5.7em;
    font-weight: 500;
}

.number-card p{
    margin-top: -30px;
    color: var(--font-color);
    font-size: 2em;
}

.projects{
    margin: 30px 0;
}

.project-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.project-card{
    margin-top: 30px;
    height: 400px;
    width: 32%;;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.project-top{
    position: absolute;
    bottom:40%;
    display: flex;
    width: 100%;
    margin-bottom: 40px;
    align-items: center;
    top: 70%;
}

.project-top a{
    width: 150px;
}

.project-background{
    position: relative;
}
.pro-top{
    display: flex;
    margin-bottom: 40px;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 30%;

}


.pro-1{
    background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/p-1.jpg);
}

.pro-2{
    background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/p-4.jpg);
}

.pro-3{
    background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/p-3.jpg);
}

.pro-4{
    background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/p-6.jpg);
}

.pro-5{
    background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/p-5.jpg);
}

.pro-6{
    background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/p-2.jpg);
}



.project-view{
    margin: 32% 33%;
    margin-left: 40%;
    font-size: .8em;
    color: white; 
    text-align: center;  
    width: 90px;
    height: 80px;
    padding:10px;
    padding-top: 20px;
    background-color: var(--theme-color);
    border-radius: 50%;
    display: none;
}

.project-card:hover .project-view{
    display: block;
}

.project-footer{
    margin: 30px 0;
    background-color:#ff7b07ee;
    background-image:linear-gradient(158deg, #e47312, #ff6361);
    color: white;
    text-align: center;
    padding: 5%;
}

.project-footer h1{
    font-size: 4em;
    margin-bottom: 10px;
}


.project-footer p{
    font-size: 2em;
    color: hsla(0, 0%, 100%, 0.7);
    margin-bottom: 60px;
}

.project-footer a{
    font-size: 1.5em;
}

.project-footer a:hover{
    width: 200px;
    padding-bottom: 5px;
    border-bottom: 2px solid white;
}

.professionals{
    margin: 30px 70px;
    
}

.professionals .about-us{
    width: 100px;
}


.professional-cards{
    display: flex;
    justify-content: space-between;
}

.professional-card{
    display: flex;
    flex-direction: column;
    width: 22%;
    height: 70vh;
    position: relative;
    box-shadow: 0 0 2px gray;
    margin-bottom: 15%;
}


.professional-card img{
    width: 100%;
    height: 68%;
}

.pro-name{
    font-size: 2.1em;
    font-weight: 600;
}

.position{
    font-size: 1.7em;
    color: var(--font-color);
}

.pro-card-content{
    padding:20px;
    text-align: left;
    background-color: white;
}

.pro-background{
    position: relative;
}

.social-media{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--theme-color);
    width: 60px;
    height: 250px;
    right: 0;
    bottom: 0;
    
}

.social-media i{
    padding: 20px;
    height: 32%;
    font-size: 1.7em;
    color: white;
    cursor: pointer;
}

.clients{
    margin: 30px 70px;
    padding-top: 10% 0;
    display: flex;
    width: 100%;
    height: 130vh;
    
}

.left{
    width: 38%;
    height: 100%;
    position: relative;
}

.cli-top{
    position: absolute;
    top: 18%;
    height: 100%;
    width: 70%;
    line-height: 1.5;
}
.cli-top p{
    font-size: 1.7em;
    margin-bottom: 10%;
}


.right{
    width: 60%;
    display: flex;
    height: 90%;
    margin-bottom: 10%;
    justify-content: space-evenly;
}

.client-cards{
    position: relative;
    /* box-sizing: border-box; */
    width: 80%;
    height: 40%;
    background-color: white;
    text-align: center;
    padding: 20px;
    margin-bottom: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.cli-icon{
    color: white;
    position: absolute;
    box-sizing: border-box;
    width: 80px;
    font-size: 1.5em;
    font-weight: 100;
    height: 80px;
    text-align: center;
    top: -13%;
    left: 40%;
    background-color: var(--theme-color);
    padding: 30px;
    border-radius: 50%;

}

.client-cards p{
    
    font-size: 1.8em;
    color: var(--font-color);
}

.client-cards h3{
    
    font-size: 1.7em;
    font-weight: 500;
    color: var(--font-color);
}

.client-cards h2{
    
    margin-top: 20%;
}

.r-left{
    width: 45%;
    display: flex;
    flex-direction: column;
    height: 100%;

}

.r-left .client-cards{
    /* padding-top: 10%; */
}
.r-right{
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 45%;

}


.r-right .client-cards{
    height: 39%;
    box-sizing: border-box;
}



.blog{
    margin: 30px 70px;
}

.blog-top{
    position: absolute;
    top:30%;
    display: flex;
    margin-bottom: 40px;
    align-items: center;
    width: 105%;
}

.blog-top a{
    width: 100px;
    
}

.blog-post{
    display: flex;
    justify-content: space-between;
}
.blog-cards{
    height: 80vh;
    width: 32%;
    box-shadow: 0 0 3px grey;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-bottom: 10%;
}

.top-blog{
    height: 50%;
    color:white;
    display: flex;
    /* align-items: flex-start; */
    justify-content: flex-end;
}

.date-time {
    background-color: var(--theme-color);
    box-sizing: border-box;
    width: 90px;
    height: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.date-time h1{
    margin-bottom: -20px;
    flex: 2;
    padding-bottom: 30px;
    font-size: 3em;
    font-weight: 600;
    background-color: var(--theme-color);
}

.date-time h2{
    color: var(--font-color);
    font-size: 1.6em;
    flex:1;
    padding:10px;
    background-color: white;
    font-weight: 600;
}
.down-blog{
    box-sizing: border-box;
    width: 100%;
    background-color: var(--theme-color);
    background-image:linear-gradient(158deg, #e47312, #ff6361);
    height: 50%;
    color: white;
    padding: 20px 40px;
}

.down-blog p{
    font-size: 1.7em;
    margin: 30px 0;
    width: 85%;
    font-weight: 300;
}

.down-blog a{
    font-size: 1.5em;
    width: 150px;
    padding-bottom: 5px;
    border-bottom: 2px solid rgba(182, 181, 181, 0.459);
}

.down-blog a:hover{
    border-bottom: 2px solid white;
}

.blog-backround{
    position: relative;
    
}

.blog-1{
    background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/port-1.jpg);
    background-size: contain;
}

.blog-2{
    background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/port-2.jpg);
    background-size: contain;

}

.blog-3{
    background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/port-3.jpg);
    background-size: contain;
}

.footer{
    background-image:linear-gradient(158deg, #e47312, #ff6361);
    height: 250px;
    display: flex;
    color: white;
}

.footer-head{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8em;
    cursor: pointer;
}

.footer-content{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.4em;
    letter-spacing: 4px;
}

.footer-content h1{
    cursor: pointer;
}

footer{
    background-color: #0a1229;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0 70px;
    height: 95vh;
    margin-bottom: -30px;

}

.footer-container{
    display: flex;
    justify-content: space-between;
}

.footer-card{
    margin-top: 5%;
    margin: 5%;
    width: 25%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    box-sizing: border-box;
   
}

.footer-card h1, .footer-card a{
    font-size: 1.6em;
}

.footer-card p{
    font-size: 1.8em;
}

.footer-card h2{
    font-size: 1.5em;
    font-weight: 600;
}

.footer-card a:hover{
    width: 120px;
    padding-bottom: 5px;
    border-bottom: 2px solid white;
}

.footer-contact{
    display: flex;
    justify-content: space-between;
}

.footer-contact img{
    margin-top: -5%;
    width: 8%;
}

.footer-service{
    width: 84%;
    margin-top: 6%;
    margin-bottom: -6%;
}

.footer-service p{
    font-weight: 400;
    color: var(--font-color);
}

.contact-us{
    margin-left: -5%;
}

footer .logo{
    margin-left: 5%;
    /* margin-top: -40px; */
}